.smaller{
    font-size: .7rem;
}
.navbar-brand{
    width: 12%;
    /* border: 1px solid red; */
}
.bg-torngreen{
    background: #72ba21 !important;
    color: white;
}
.bb-green:hover{
    border-bottom: 8px solid green;
    color:green;  
}
.bt-green:hover{
    border-top: 4px solid green;
    color:green;  
}
.bb-red:hover{
    border-bottom: 8px solid red;
    color:red;  
}
.bt-red:hover{
    border-top: 4px solid red;
    color:red;  
}
.bb-blue:hover{
    border-bottom: 8px solid rgb(37, 117, 221);
    color:rgb(37, 117, 221);  
}
.bt-blue:hover{
    border-top: 4px solid rgb(37, 117, 221);
    color:rgb(37, 117, 221);  
}
.bb-black:hover{
    border-bottom: 8px solid black;
    color:black;  
}
.bt-black:hover{
    border-top: 4px solid black;
    color:black;  
}
.bb-lightgreen:hover{
    border-bottom: 8px solid rgb(85, 150, 85);
    color:rgb(85, 150, 85);  
}
.bt-lightgreen:hover{
    border-top: 4px solid rgb(85, 150, 85);
    color:rgb(85, 150, 85);  
}
.bb-orange:hover{
    border-bottom: 8px solid orange;
    color:orange;  
}
.bt-orange:hover{
    border-top: 4px solid orange;
    color:orange;  
}
.bb-purple:hover{
    border-bottom: 8px solid purple;
    color:purple;  
}
.bt-purple:hover{
    border-top: 4px solid purple;
    color:purple;  
}

.border-red{
    border: 1px solid red !important;
}
.hidden{
    display: none !important;
}
.flex-1{
    flex:1;
}
body{
    font-family:  Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
}
.navbar{
    padding: 0px;
}
.language , .globe , .langspin{
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.navbar-extention{
    display: none;
    z-index: 100;
}
.wrap-div{
    background: #fff;
}
.wrap-div div{
    border-bottom: 8px solid #fff;
    background: #ddd;
}
.topPanel{
    background: linear-gradient(90deg,#232021 0,#0093c8);
}
.topPanelTable div div{
    border-top: 4px solid transparent;
    margin-bottom: 15%;
    margin-right: 15%;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease;
}
.topPanelTable div div:hover{
    transform: scale(1.1);
    transition: all .5s ease;
}
.mainSelectors .Selectors .Selector.active::after{
   width: 100%;
}
.mainSelectors .Selectors .Selector::after{
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    border-bottom:4px solid rgb(29, 108, 228);
    transition: all .3s;
}
.mainSelectors .Selectors .Selector:hover::after{
    width: 100%;
    transition: width .3s;
}
.showCards{
    overflow: auto;
    text-align: center;
}
.showCards .card{
    width: 250px;
    display: inline-block;
    margin-right: .5%;
    margin-left: .5%;
    margin-bottom: 2%;
}
.testimonialWrapper{
    position: relative;
    height:80vh;
    /* overflow: hidden; */
    width: 100%;
    /* border: 1px solid red; */
    background-image: url('../img/Testimonials/testimonials-triangle.png');
    background-position:top right;
    background-repeat: no-repeat;
}
.testimonialWrapper div.left-triangle{
    position: absolute;
    bottom: 0px;
    z-index: 3;
}
.testimonials{
    width: 40% !important;
    overflow: auto;
    position: absolute;
    top: 0px;
    /* margin: 0 auto; */
    /* padding-top: 2rem; */
}
.testimonials .item{
    height: 100%;
    width: 40vw;
    /* overflow: auto; */
    /* border: 1px solid red; */
    /* position: absolute; */
}
.text-testimonials-Wrapper{
    /* border: 1px solid red; */
    width: 40vw;
    position: absolute;
    top: 0px;
    left: 35vw;
    z-index: 2;
    padding-top: 8rem;
}
.text-testimonials .item{
    padding-top: 3rem;
}
.slick-dots {
    top: 0px;  
    right: 0px;
  }
.home-bubble{
    position: absolute;
    /* border: 1px solid red; */
    /* border-radius: 50%; */
    /* overflow: hidden; */
}
.home-bubble img{
    border-radius: 50%;
}
.hb-1{
    top: 15%;
    left:40%;
}
.hb-2{
    top: 25%;
    left: 20%;
}
.hb-3{
    bottom: 40%;
    right: 7vw;
}
.hb-4{
    bottom: 28%;
    left: 5%;
}
.hb-5{
    bottom: 0;
    right: 20%;
}
.hb-text{
    position: absolute;
    /* border: 1px solid red; */
    z-index: 100000;
    /* width: 9vw; */
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: white;
    border-radius:3px;
    padding-left: 20%;
    padding-right: 20%;
}
.hbt-1{
    left: -160%;
    bottom: 70%;
    background: #0093c8;
}
.hbt-1::after{
    content: '';
    position: absolute;
    right: -5%;
    top: 120%;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid  #0093c8;
    border-top: 13px solid transparent;
    transform: rotateZ(270deg);
    clear: both;
}
.hbt-2{
    left: -90%;
    bottom: 20%;
    background: #72ba21;
}
.hbt-2::before{
    content: '';
    position: absolute;
    right: -5%;
    top: -30%;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid  transparent;
    border-top: 13px solid #72ba21;
    transform: rotateZ(-50deg);
    clear: both;
}
.hbt-3{
    left: -110%;
    bottom: 60%;
    background: #0093c8;
}
.hbt-3::after{
    content: '';
    position: absolute;
    right: -4%;
    top: 120%;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid  #0093c8;
    border-top: 13px solid transparent;
    transform: rotateZ(270deg);
    clear: both;
}
.hbt-4{
    left: -90%;
    bottom: 60%;
    background: #0093c8;
}
.hbt-4::after{
    content: '';
    position: absolute;
    right: -4%;
    top: 120%;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid  #0093c8;
    border-top: 13px solid transparent;
    transform: rotateZ(270deg);
    clear: both;
}
.hbt-5{
    left: -50%;
    bottom: 20%;
    background: #72ba21;
}
.hbt-5::before{
    content: '';
    position: absolute;
    right: -5%;
    top: -30%;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid  transparent;
    border-top: 13px solid #72ba21;
    transform: rotateZ(-50deg);
    clear: both;
}